$color-gray: #e4e4e4;
$color-green: #6cb319;
$color-lightest-blue: #443cff;
$color-light-blue: #423bdb;
$color-dark-blue: #221eb0;
$color-darker-blue: #110f78;
$color-darkest-blue: #090867;
$color-dark: #062240;
$color-black: #061321;