// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {

}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {

}
@media (max-width: 767px){
  #footer{
    .left-block{
      margin-bottom: 2rem;
      text-align: center;
      .logo{
        margin: 0 auto;
      }
      .logo-wrap {
        margin-bottom: 2rem;
      }
    }
    .right-block {
      text-align: center;
      a{
        float: none;
        //margin-right: 0px;
      }
    }
  }
}


// Medium devices (tablets, 768px and up)
@media (min-width: 768px){
  .navbar-nav {
    float: right;
  }
}

@media (max-width: 991px) {
  body{
    //font-size: 12px;
  }
}
// Large devices (desktops, 992px and up)
@media (min-width: 992px) {

  #posts{
    .shadow{
      padding-top: 20px;
      padding-bottom: 20px;
      padding-right: 30px;
      padding-left: 30px;
    }
  }
  .post-number {
    width: 4rem;
    height: 4rem;
    padding-top: 1.2rem;
    font-size: 2rem;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  #banner{
    .wall-left{
      max-width: 285px;
    }
  }
  .timer{
    width: 460px;
    float: right;
  }
  .post-wrap{
    padding-right: 2.1rem;
    padding-left: 0;

  }
  .post-wrap:nth-of-type(2n){
    padding-left: 2.1rem;
    padding-right: 0;
  }
  #posts{
    .shadow{
      padding-top: 30px;
      padding-bottom: 30px;
      padding-right: 60px;
      padding-left: 60px;
    }
  }
  .post-number {
    width: 5.8rem;
    height: 5.8rem;
    padding-top: 1.6rem;
    font-size: 2.7rem;
  }
  .nav > li > a {
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-left: 20px;
  }
}