@media (max-width: 1199px) {
  .post-wrap{
    h3{
      font-size: 20px;
    }
  }
}

@media (max-width: 991px) {
  .nav > li > a {
    font-size: 12px;
  }
  .logo {
    width: 12rem;
  }
  .post-wrap{
    h3{
      font-size: 18px;
    }
    .description-post-img {
      height: 60px;
      width: unset;
      max-width: 100%;
    }
  }
  .title{
    font-size: 28px;
  }
}

@media (max-width: 767px){
  #footer{
    padding-top: 5rem;
    padding-bottom: 5rem;
    .left-block{
      margin-bottom: 2rem;
      text-align: center;
      .logo{
        margin: 0 auto;
      }
      .logo-wrap {
        margin-bottom: 2rem;
      }
    }
    .right-block {
      text-align: center;
      a{
        float: none;
        //margin-right: 0px;
      }
    }
    .soc-icons {
      margin-bottom: 3rem;
    }
  }
  #banner{
    padding-top: 12rem;
    padding-bottom: 8rem;
    button {
      padding: 2rem 2rem;
    }
  }
  #about{
    padding-top: 5rem;
    padding-bottom: 5rem;
    img{
      max-height: 300px;
    }
  }
  #posts{
    padding-bottom: 5rem;
    .title {
      padding-bottom: 5rem;
    }
  }
  #advantages {
    padding-top: 5rem;
    padding-bottom: 5rem;
    .light-blue {
      margin-bottom: 5rem;
    }
  }
  .right-block{
    a{
      margin-right: 40px;
    }
    a:last-of-type{
      margin-right: 0px;
    }
  }
  .menu-container {
    position: relative;
  }
  .progress-bar-wrap, .wall-left {
    margin-bottom: 2rem;
  }
  #banner{
    .left-side{
      margin-bottom: 30px;
    }
  }
  .title{
    font-size: 24px;
  }
  #about p, .question-title {
    font-size: 16px;
  }
  .question-title {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  button {
    padding: 2rem 5rem;
  }
  .modal-dialog{
    height: 52vw;
    iframe{
      height: 100%;
    }
  }
}

@media (max-width: 575.98px) {
  .team-member{
    width: 100%;
  }
  .title {
    font-size: 20px;
  }
  .post-number {
    width: 3rem;
    height: 3rem;
    padding-top: 0.8rem;
    font-size: 1.6rem;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {

}



// Medium devices (tablets, 768px and up)
@media (min-width: 768px){
  .navbar-nav {
    float: right;
  }


  .right-block{
    a{
      float: right;
      margin-right: 40px;
    }
    a:first-of-type{
      margin-right: 0px;
    }
  }
}


// Large devices (desktops, 992px and up)
@media (min-width: 992px) {

  #posts{
    .shadow{
      padding-top: 20px;
      padding-bottom: 20px;
      padding-right: 30px;
      padding-left: 30px;
    }
  }
  .post-number {
    width: 4rem;
    height: 4rem;
    padding-top: 1.2rem;
    font-size: 2rem;
  }
  .modal-dialog {
    width: 900px;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  #banner{
    .wall-left{
      max-width: 285px;
    }
  }
  .timer{
    width: 52rem;
    float: right;
  }
  .post-wrap{
    padding-right: 2.1rem;
    padding-left: 0;
  }
  .post-wrap:nth-of-type(2n){
    padding-left: 2.1rem;
    padding-right: 0;
  }
  #posts{
    .shadow{
      padding-top: 30px;
      padding-bottom: 30px;
      padding-right: 60px;
      padding-left: 60px;
    }
  }
  .post-number {
    width: 5.8rem;
    height: 5.8rem;
    padding-top: 1.6rem;
    font-size: 2.7rem;
  }
  .nav > li > a {
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-left: 20px;
  }
  #about{
    p{
      max-width: 450px;
    }
    .more-info{
      margin-top: 7rem;
    }
  }

  .roadmap-bg {
    -webkit-background-size: 1950px;
    -moz-background-size: 1950px;
    -o-background-size: 1950px;
    background-size: 1950px;
  }
}