#about{
  background: url(resources/images/bg2.png)no-repeat center center;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  img{
    //max-width: 428px;
    //max-height: 429px;
  }
  padding-top: 11.5rem;
  padding-bottom: 10rem;
  p{
    font-size: 18px;
    color: rgba(6, 34, 64, 0.7);
  }
}