#advantages, #roadmap{
  background-color: $color-dark-blue;

}
#advantages{
  img{
    max-width: 12.8rem;
    max-height: 12.8rem;
  }
  .green{
    font-size: 1.8rem;
  }
  .light-blue{
    margin-bottom: 12rem;
  }
}