.menu-container{
  padding-top: 5rem;
  position: relative;
  z-index: 1;
}
.logo{
  padding: 0;
  width: 18.2rem;
  height: 5.5rem;
}
.navbar {
  margin-bottom: 0px;
  border: none;
}
.navbar-default {
  background-color: transparent;
}
.dropdown-toggle{
  background: transparent;
  padding: 10px;
}
.navbar-default .navbar-nav>li>a {
  color: white;
}
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
  /*color: #333;*/
}
.nav>li>a {
  font-weight: bold;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
  padding-left: 20px;
}

