.menu-container{
  position: absolute;
  padding-top: 4rem;
  &.sticky{
    //padding-top: 2rem;
  }
  background-color: #221eb0;
  transition: padding-top 0.4s linear;
  -moz-transition: padding-top 0.4s linear; /* Firefox 4 */
  -webkit-transition: padding-top 0.4s linear; /* Safari and Chrome */
  -o-transition: padding-top 0.4s linear; /* Opera */
  -ms-transition: padding-top 0.4s linear; /* Explorer 10 */

  z-index: 1;
  top: 0px;
  width: 100%;
}
.logo{
  padding: 0;
  width: 18.2rem;
  height: 5.5rem;
}
.navbar {
  margin-bottom: 0px;
  border: none;
}
.navbar-default {
  background-color: transparent;
}
.dropdown-toggle{
  background: transparent;
  padding: 10px;
}
.navbar-default .navbar-nav>li>a {
  color: white;
}
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
  /*color: #333;*/
}
.nav>li>a {
  font-weight: bold;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
}
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
  color: $color-green;
}
@keyframes navShow {
  0% {
    transform: translate3d(0,-100px,0);
    -webkit-transform: translate3d(0,-100px,0);
    -moz-transform: translate3d(0,-100px,0);
    -ms-transform: translate3d(0,-100px,0);
    -o-transform: translate3d(0,-100px,0);
  }
  100% {
    transform: translate3d(0,0,0);
    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    -o-transform: translate3d(0,0,0);
  }
}
.navbar-active{
  //margin-top: 30px;
}
.sticky {
  position: fixed;
  width: 100%;
  padding-bottom: 10px;
  left: 0;
  top: 0;
  right: 0;
  z-index: 1000;
  border-top: 0;
  background: $color-dark-blue;
  border-bottom: 1px solid gray;
  animation: navShow .4s;
  .navbar-default{
    background: $color-dark-blue;
  }
}
.nav{
  padding-top: 10px;
}
.nav.navbar-nav{
  li:nth-of-type(6){
    a{
      background-color: $color-green;
      border-radius: 3px;
      padding: 10px 21px;
    }
    a:hover{
      color: white;
    }
  }
}
.dropdown-menu {
  min-width: unset;
}
