.menu-container{
  position: relative;
  z-index: 1;
}
.logo{
  width: 18.2rem;
  height: 5.5rem;
}
.navbar {
  margin-bottom: 0px;
  border: none;
}
.navbar-default {
  background-color: transparent;
}