#questions{
  background-color: $color-dark-blue;
  .green-bg{
    padding-top: 6rem;
    padding-bottom: 5.4rem;
    .first-title{
      margin-bottom: 2rem;
      font-size: 18px;
    }
    .second-title{
      margin-bottom: 2.8rem;
    }
    a{
      color: $color-dark;
    }
  }
}
.question-wrap{
  background-color: white;
  max-width: 890px;
  border-radius: 3px;
  margin: 0 auto;
  float: none;
  margin-bottom: 12rem;
  padding-right: 3.9rem;
}
.question-title{
  padding-top: 2.7rem;
  padding-bottom: 2.7rem;

  font-size: 1.8rem;
  display: inline-block;
}
.questions, .question-title{
  padding-left: 2.4rem;
  padding-right: 1.5rem;
}
.questions{
  padding-bottom: 1.5rem;
  p{
    margin-bottom: 0;
  }
}
.collapsed{
  .question-toggle {
    img{
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      transform: rotate(0deg);
    }
  }

}
.question-toggle {
  position: relative;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  min-height: 65px;
  img{
    float: right;
    width: 21px;
    height: 21px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

}