#roadmap{
  padding-top: 12rem;
  height: 750px;
  //background-color: $color-dark-blue;
  .item{
    width: 10%;
    display: inline-block;
  }
}
.roadmap-bg{
   background: url(resources/images/road_map_bg.png)no-repeat center top;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;

 }
.blue-block{
  background-color: $color-dark-blue;
}