#roadmap{
  padding-top: 12rem;
  height: 750px;
  //background-color: $color-dark-blue;
  .container{
    position: relative;
  }
  .item{
    width: 9%;
    display: inline-block;
    font-size: 12px;
    color: white;
    text-transform: uppercase;
    line-height: 1.429;
    position: absolute;
    &.one{
      top: 145px;
    }
    &.two{
      top: 330px;
      left: 10%;
    }
    &.three{
      top: 180px;
      left: 17%;
    }
    &.four{
      top: 290px;
      left: 27%;
    }
    &.five{
      top: 75px;
      left: 36%;
    }
    &.six{
      top: 165px;
      left: 47%;
    }
    &.seven{
      top: 30px;
      left: 54%;
    }
    &.eight{
      top: 177px;
      left: 61%;
    }
    &.nine{
      top: 15px;
      left: 76%;
    }
    &.ten{
      top: 165px;
      right: 0%;
    }
  }
}
.roadmap-bg{
   background: url(resources/images/road_map_bg.png)no-repeat center top;
   -webkit-background-size: contain;
   -moz-background-size: contain;
   -o-background-size: contain;
   background-size: contain;

 }
.blue-block{
  background-color: $color-dark-blue;
  padding-top: 130px;
}
.snjaga{
  background: url(resources/images/bg4.png)no-repeat right top;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
}

.item{

}
//@media (min-width: 992px){
//  .roadmap-bg {
//    -webkit-background-size: 1200px;
//    -moz-background-size: 1200px;
//    -o-background-size: 1200px;
//    background-size: 1200px;
//  }
//}
@media (min-width: 1200px) {
  .roadmap-bg {
    -webkit-background-size: 1950px;
    -moz-background-size: 1950px;
    -o-background-size: 1950px;
    background-size: 1950px;
  }
}

