#team{
  padding-bottom: 50px;

  .team-member{
    height: 250px;
    text-align: center;
    margin-bottom: 30px;
    display: block;
    .team-photo{
      width: 120px;
      height: 120px;
      margin: 0 auto;
      margin-bottom: 13px;
    }
    h1{
      margin-bottom: 18px;
      font-family: 'RobotoBold', sans-serif;
    }
    p{
      font-family: 'RobotoRegular', sans-serif;
      font-size: 14px;
      line-height: 1.56;
      color: #9099a3;
      text-align: center;
    }
  }
  //.more{
  //  display: inline;
  //}
  //.less{
  //  display: none;
  //}
  //.collapse + .collapse-btn-container{
  //
  //
  //}
  //.collapse.in + .collapse-btn-container{
  //  .more{
  //    display: none;
  //  }
  //  .less{
  //    display: inline;
  //  }
  //}

  .more-btn{
    .more{
      display: inline;
    }
    .less{
      display: none;
    }
    &.more{
      .more{
        display: none;
      }
      .less{
        display: inline;
      }
    }
  }
}

